{{#each Posts as |post| }}
<div class="row mb-8 post">
    <div class="col-md-5">
        <h2>
            <a href="/posts/{{post.id}}">{{post.title}}</a>
        </h2>
        <p>
            <span class="body">{{body}}</span>
        </p>
        <p>Posted By {{post.user.username}} on {{format_date post.date_created}}</p>
    </div>
</div>
{{/each}}